@media screen and (max-width: 888px) {
    .modal > .modal-block {
        height: 100%;
    }

    .modal-block .date-start {
        font-size: 125px;
    }
}

@media screen and (max-width: 839px) {
    .modal-block .date-start {
        font-size: 115px;
    }

    .modal-block .date-time {
        padding-right: 0;
    }
}

@media screen and (max-width: 778px) {
    .modal-block > .invite,
    .modal-block h2 {
        font-size: 27px;
    }

    .modal-block .date-start {
        font-size: 89px;
    }

    .girls-img {
        width: 624px;
    }
}

@media screen and (max-width: 622px) {
    .modal {
        padding: 0;
    }

    .modal-block .date-start {
        font-size: 56px;
    }

    .modal-block .date-time {
        align-self: center;
    }

    .modal-block > .invite,
    .modal-block h2 {
        font-size: 29px;
    }

    .modal-block .date-start {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 426px) {
    .girls-img {
        height: 405px;
    }

    .mist {
        width: 100%;
    }
}

@media screen and (max-width: 376px) {
    .modal-block .date-start {
        font-size: 55px;
    }

    .modal-block > .invite,
    .modal-block h2 {
        font-size: 27px;
    }

    .girls-img {
        height: 405px;
    }
}

@media screen and (max-width: 321px) {
    .modal-block .tags {
        flex-direction: column;
        gap: 11px;
    }

    .modal-block .date-start {
        font-size: 46px;
    }

    .modal-block > .invite,
    .modal-block h2 {
        font-size: 24px;
    }
}
